@import '../../styles/index.scss';

.error {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  padding-top: 50px;
  background-color: $color-overlay;
}