@import '../../styles/index.scss';

.rank_wrapper {
  width: 120px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.common {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 18px;
  @include common-text($size: 14px, $height: 16px);

  & .rank_image {
    position: absolute;
    display: inline-block;
    left: -18px;
    top: 4px;
    width: 14px;
    height: auto;
  }

  &.medium {
    color: $color-rank-med;
  }

  &.low {
    color: $color-rank-low;
  }

  &.high {
    color: $color-rank-high;
  }
}