
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3 {
  font-size: 1em;
  font-weight: normal;
  padding: 0;
}

picture {
  margin: 0;
  padding: 0;
}

img {
  display: inline-block;
}

pre {
  white-space: pre-line;
  word-wrap: break-word;
  text-align: justify;
}

pre, code {
  margin: 0;
  padding: 0;
}