$color-dark: #000000;
$color-light: #FFFFFF;
$color-bg: #E5E5E5;
$color-overlay: rgba(181, 181, 181, 0.35);
$color-text: #333333;
$color-bg-item: #F2F2F2;

$color-primary: #7B61FF;
$color-primary-hover: #8A73FF;
$color-primary-active: #715BE3;

$color-disabled: #B5B5B5;
$color-label-text: #CCCCCC;

$color-success: #5EE48C;
$color-success-hover: #80F0A6;
$color-success-active: #4BD379;

$color-error: #FF6161;
$color-error-hover: #FF8080;
$color-error-active: #D65D5D;

$color-hover: #E6E1FF;

$color-default-btn: #F4F4F4;
$color-default-btn-hover: #E1E1E1;
$color-default-btn-active: #CFCFCF;

$color-bug: #EB4F4F;
$color-task: #00D1FF;

$color-complete-bg: #4BD379;
$color-complete-text: #157536;

$color-testing-bg: #FFC700;
$color-testing-text: #846F00;

$color-opened-bg: #CCCCCC;
$color-opened-text: #333333;

$color-rank-med: #E9B500;
$color-rank-low: #3CA961;
$color-rank-high: #D14343;