@import '../../styles/index.scss';

.pageTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  @include page-title;
  display: flex;
  align-items: center;
  gap: 10px;
}

.buttons_container {
  display: flex;
  gap: 10px;
}