@import '../../styles/index.scss';

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  padding: 30px 80px;
}

.pageTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.username {
  @include page-title;
}

.buttons_container {
  display: flex;
  gap: 10px;
}

.page {
  display: flex;
  padding: 20px;
  gap: 20px;
  flex-grow: 1;
  background: $color-light;
  box-shadow: 0px 0px 5px 3px $color-disabled;
  border-radius: 5px;
}

.user_info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: min(300px, 25%);
}

.avatar {
  width: calc(182px);
  height: calc(182px);
  border-radius: 50%;

  &__border {
    @include avatar-border(186px);
  }
}

.info {
  flex-grow: 1;
}

.about__title {
  @include common-text;
  color: $color-label-text;
}

.about {
  @include common-text;
  color: $color-text;
}

.divider {
  width: 1px;
  height: 100%;
  background-color: $color-disabled;
}

.taskslist {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__title {
    @include common-text;
    color: $color-label-text;
    margin-bottom: 5px;
  }
}

.tasks {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  border-radius: 5px;
  overflow: hidden;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 2px 1px $color-disabled;
    border-radius: 5px;
    z-index: 5;
    pointer-events: none;
  }
}