@import '../../styles/index.scss';

.multiselect {
  position: relative;
}

.selectBox {
  padding: 5px 10px;
  padding-right: 60px;
  @include common-text;
  background-color: $color-light;
  background-image: url('../../assets/v.svg');
  background-position: calc(100% - 10px) center;
  background-repeat: no-repeat;
  color: $color-label-text;
  border-radius: 3px;
  box-shadow: inset 0px 0px 2px 1px $color-disabled;
  z-index: 15;

    &:hover {
      border-color: $color-primary;
    }

    &.active {
      background-image: url('../../assets/^.svg');
      border-color: $color-primary-active;
      box-shadow: 0px 0px 2px 2px rgba(123, 97, 255, 0.5);
    }

    &.type {
      width: 98px;
    }

    &.user {
      width: 180px;
    }

    &.rank,
    &.status {
      width: 120px;
    }
  }

.checkboxes {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  max-height: 150px;
  padding: 2.5px;
  background-color: $color-light;
  border-radius: 3px;
  box-shadow: 0px 0px 2px 2px rgba(123, 97, 255, 0.5);
  border: 1px solid $color-primary;
  border-top: none;
  z-index: 10;
  overflow: scroll;

  &.active {
    display: block;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}