* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2 {
  font-weight: normal;
  padding: 0;
}

picture {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}