@import '../../styles/index.scss';

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-overlay;
  z-index: 5;
}

.modal {
  width: 430px;
  height: 405px;
  background-color: $color-light;
  border-radius: 5px;
  @include common-text;
}